#lectures {
    h2{
        margin-bottom: 40px;
    }
    background-color:white;
    // > .lectureInner{
    //     color:black !important;
    //     text-align: center;
    // }    
    // p{
    //     margin: 0!important;
    // }
    .row{
        color:black;
        text-align: center;
        h3{
            color:black;
        }
    
      .col-sm-2{
        // width: 16.6667%;
        border: 5px solid white !important;
        padding:5px;
        margin:0px;
        .infoLecture{
            border: 2px solid black !important;
            height: 100%;
            width:100%;
        }
        a:hover{
            color:#ff785f !important;
            text-decoration: none;
            h3{
                color:#ff785f !important;
            }
        }
        a:active{
            color:#ff785f !important;
            text-decoration: none;
            h3{
                color:#ff785f !important;
            }
        }
        h3{
            margin-top:15%;
            color:black; 
            margin-bottom:0px;
        }
        p{
            font-size: 10pt;
        }
      }
    }    
}
